<h1>Categories</h1>
<form action="category/" method="get">
  <select name="category" id="category">
  <% @categories.each do |cat| %>
    <option value="<%= cat.id %>"><%= cat.name %></option>
  <% end %>
  </select>
  <input type="submit">
</form>

<script>
  $("form").on("submit", function(e) {
    var selection = $('form option:selected').val();
    $(this).attr("action", "category/" + selection);
  })
</script>
